In [1]:
import numpy as np
import pandas as pd
from sklearn.utils import shuffle

In [2]:
data_all = pd.read_csv('drd2_data_bin.csv')
data_all.head()

                                              SMILES  Activity_Flag
0  S1C=C(N=C1C(C=NC2=CC=C(C(OCCN(CC)CC)=O)C=C2)C#...              0
1  S(=O)(=O)(N1CCN(CC1)C)C=2C=CC(NC(=O)COC3=C(C=C...              0
2  ClC=1C=CC(C(=O)C2C(O)(NC(=O)NC2C=3OC(=CC3)C=4C...              0
3       ClC1=CC=C(CC2(CCN(CC2)C(=O)C3=NSN=C3)CO)C=C1              0
4           ClC=1C(C(NC(=O)N)C2=CC=C(Cl)C=C2)=CC=CC1              0

In [4]:
data_all.shape

(351529, 2)

In [5]:
data_neg = data_all[data_all['Activity_Flag']==0]
data_neg.shape

(343206, 2)

In [6]:
data_pos = data_all[data_all['Activity_Flag']==1]
data_pos.shape

(8323, 2)

In [7]:
data_neg = data_neg.iloc[np.random.choice(np.arange(data_neg.shape[0]), data_pos.shape[0], replace=False), :]
data_neg.shape

(8323, 2)

In [8]:
data = pd.concat([data_pos, data_neg])

In [9]:
data.shape

(16646, 2)

In [10]:
data.head()

                                                SMILES  Activity_Flag
43                N1(CCN(CC1)C2=CC=CC=C2)CCC3=CC=CC=C3              1
59   C=1C(C)=CC=C(C)C1N2CCN(CCCC(C=3C=CC(=CC3)F)=O)CC2              1
60   S(OC1=CC=C(CNC(=O)CCCCCN2CCN(CC2)C=3C(OC)=CC=C...              1
63   C1(=C(C=2C=CC=CC2C(=C1)Br)OC)C(NC[C@H]3N(C4C5C...              1
113  C=1(C(=CC2=C(C1)CCN3[C@@H]2CC4=C(C3)C(=C(C=C4)...              1

In [12]:
data = shuffle(data)
data.head()

                                                   SMILES  Activity_Flag
193361       C1(C=2C(=CC=CC2)C(C1)C3=CC=C(C=C3)F)N4CCNCC4              1
276269                    N1(CC2CC2)CCC(COC3=NC=CC=C3)CC1              1
237288  ClC=1C=C(NC(=O)C2=CC=3CCCN(S(=O)(=O)C)C3C=C2)C...              0
60      S(OC1=CC=C(CNC(=O)CCCCCN2CCN(CC2)C=3C(OC)=CC=C...              1
276326  O1C2=C(OCC1)C=CC(=C2)C=3ON=C(C3)C(OC=4C(=CC=CC...              0

In [13]:
data.to_csv('drd2_bin_balanced.csv', index=False)